*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



body{
    background-color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.contenedor
{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/*-------------------header-----------------------*/
header
{
    background-image: linear-gradient(to top, rgba(67, 139, 246, 0.38) 10%, rgba(67, 139, 246, 0.38) 100%),  url("https://gwnqtg.bl.files.1drv.com/y4mpA0aXNDbGpfvczyt9YYoPZkh5wLztMLxvUYQNOgdMr_BT8PE0rAggZpffxm2Ff6taeFgL_wpf2F3yIuC5JEDZzVGyMyWpt8fn8WgmZeu54MkEhgXlEUzSKux1EXQQkmOxWx8M_w45o4Xg1DFWMf1X0Y1uTznXjQ6M6ZJk7rTkcTklZfHqzWPLB_1DofVok3ojmFkL8rivwwfHfDKJ9oueQ?width=1920&height=1078&cropmode=none");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 400px;
    max-height: 600px;

}
header .menu
{
 margin: 60px;
  
  text-align: right;
}
header  .menu a
{
    margin: 0 20px;
    color: white;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid transparent;
   font-size: 1em;
}
header .menu a:hover
{
    border-bottom: 2px solid white;
}
header .contenedor-texto
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 90px;
}
header  .contenedor-texto .texto
{
   border:  2px solid white;
   border-radius: 15px;
   display: inline-block;
   text-align: center;
   padding: 20px 60px;
}

header  .contenedor-texto .texto h1,
header  .contenedor-texto .texto h2
{
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin: 0;
}

header .contenedor-texto .texto .titulo{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .contenedor-texto .texto .eslogan
{
   font-size: 25px;
   line-height: 25px;
}

/*--------------------main----------------------*/
main .contenedor{
    overflow: visible;
}
main .acerca-de
{
    text-align: center;
}

main .acerca-de .texto
{
    font-weight: 400;
    text-align: center;
   font-size: 1em;
   line-height: 30px;
   width: 80%;
   margin: 40px auto 40px auto;

}

main .acerca-de .texto .titulo
{
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 400;
  color: rgb(221, 130, 13);
  text-align: center;
}

/*--------------------trabajos----------------------*/
main .trabajos{
    background-color: #f2f2f2;
    padding: 60px 0;
}
main .trabajos .contenedor{
    overflow: hidden;
}

main .trabajos .titulo
{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 400;
    color: rgb(60, 133, 228);
    text-align: center;
}


main .trabajos .contenedor-trabajos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .trabajos .contenedor-trabajos .trabajo
{
    width: 23%;
}
main .trabajos .contenedor-trabajos .trabajo .thumb {
    width: 100%;
    margin-bottom: 10px;
}

main .trabajos .contenedor-trabajos .trabajo .thumb img {
    width: 100%;
    vertical-align: top;
}
main .trabajos .contenedor-trabajos .trabajo .descripcion{
    text-align: center;
}
main .trabajos .contenedor-trabajos .trabajo .categoria{
    font-size: 14px;
    color: #636363;
}
main .trabajos .contenedor-trabajos .trabajo .nombre{
    font-weight: 700;
    color: rgb(56, 149, 234);
    margin-bottom: 10px;
}
/*-------------------Ariticulos-----------------*/
main .Articulos{
    background-color: #ffffff;
    padding: 60px 0;
}
main .Articulos .contenedor{
    overflow: hidden;
}

main .Articulos .titulo
{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 400;
    color: rgb(60, 133, 228);
    text-align: center;
}


main .Articulos .contenedor-trabajos
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .Articulos .contenedor-trabajos .trabajo
{
    width: 23%;
}
main .Articulos .contenedor-trabajos .trabajo .thumb {
    width: 100%;
    margin-bottom: 10px;
}

main .Articulos .contenedor-trabajos .trabajo .thumb img {
    width: 100%;
    vertical-align: top;
}
main .Articulos .contenedor-trabajos .trabajo .descripcion{
    text-align: center;
}
main .Articulos .contenedor-trabajos .trabajo .categoria{
    font-size: 14px;
    color: #636363;
}
main .Articulos .contenedor-trabajos .trabajo .nombre{
    font-weight: 700;
    color: rgb(56, 149, 234);
    margin-bottom: 10px;
}


/*-----------------------footer------------------------*/
footer .contacto 
{
padding: 60px;

}

footer .contacto .titulo{
   margin-top: 53px;
   text-align: center;
   font-size: 20px;
   margin-bottom: 53px;
}
footer .contacto .Formulario{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
footer .contacto .Formulario input[type="text"],
footer .contacto .Formulario input[type="email"],
footer .contacto .Formulario textarea
{
   border: 2px solid #cecece;
   border-radius: 5px ;
   padding: 15px;
   font-size: 20px;
   color: #a4a4a4;
}

footer .contacto .Formulario input[type="text"],
footer .contacto .Formulario input[type="email"]{
   width: 46%;
   margin-bottom: 15px;
}
footer .contacto .Formulario textarea
{
   width: 97%;
   height: 100px;
   min-width: 97%;
   max-width: 97%;
   min-height: 100px;
   max-height: 250px;
   margin-bottom: 15px;
}

footer .contacto .Formulario .boton{
   margin: auto;
   background: #3895ea;
   color: white;
   border: none;
   border-radius: 3px;
   padding: 15px 40px;
}

footer .contacto .Formulario .boton:hover{  
background: rgb(9, 101, 240);
}

footer .contacto .Formulario input[type="text"]:focus,
footer .contacto .Formulario input[type="email"]:focus,
footer .contacto .Formulario textarea:focus
{
   border: 2px solid #4995eb;
justify-content: center;

}
footer .redes-sociales .contenedor{
   display: flex;
   justify-content: center;
} 
footer .redes-sociales{
   background: rgb(7, 42, 94);
   padding: 60px 0;
}

footer .redes-sociales a {
   color: white;
   text-align: center;
   width: 100px;
   display: block;
   padding: 15px 0 ;
   border-radius: 8px;
   font-size: 40px ;
   
   margin: 20px;
}

footer .redes-sociales .twiter:hover{
   background:rgb(29, 161, 242)
}

footer .redes-sociales .facebook:hover{
   background: rgb(59, 88, 151)
}

footer .redes-sociales .instagram:hover{
   background:rgb(225, 48, 108)
}
